In [2]:
import pandas as pd

import numpy as np
np.random.seed(1234)

In [ ]:
train_all = pd.read_json('./FIGER/train.json', orient='records')

In [ ]:
train_all.to_csv('./data/train_all.csv')

In [ ]:
test_all = pd.read_json('./FIGER/test.json', orient='records')
test_all.to_csv('./data/test_all.csv')

In [ ]:
dev_all = pd.read_json('./FIGER/dev.json', orient='records')
dev_all.to_csv('./data/dev_all.csv')

### Subsampling and Cleaning

In [3]:
train_all = pd.read_csv('./data/train_all.csv', index_col=0)

C:\ProgramData\Anaconda3\envs\vanguard_2\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [32]:
# sub-sample 10,000 sentences
train_sample = train_all.sample(n=1000)
train_sample

,sent,labels,start,end,ents
1630249,He is best known for his contributions to the ...,['/location'],156,167,"[['Q211248', 76, 87, 0.8112072], ['Q28567', 13..."
339534,"Other languages taught at GEOS include , Frenc...",['/language'],41,47,"[['Q315', 0, 15, 0.14799862], ['Q1210707', 26,..."
496123,The final was played at Centre Court in Wimble...,"['/location', '/building/sports_facility', '/b...",24,36,"[['Q2603183', 24, 36, 0.27905092], ['Q736742',..."
1123512,"It stars Keeley Hawes -LRB- Spooks , Under the...","['/person/actor', '/person']",210,224,"[['Q237290', 9, 21, 0.65806925], ['Q6691229', ..."
1717565,"Students are of all ages , from senior citizen...","['/location/city', '/location']",131,145,"[['Q48282', 0, 8, 0.13177414], ['Q213205', 102..."
...,...,...,...,...,...
1025527,He had suggested earlier that a suitable site ...,"['/location/city', '/location']",84,103,"[['Q1691479', 68, 74, 0.18739218], ['Q37100', ..."
1715943,Jim Lynagh -LRB- 13 April 1956 & ndash ; 8 May...,"['/military', '/organization', '/person']",169,202,"[['Q6196505', 0, 10, 0.7862777999999999], ['Q1..."
1219528,He is currently a member of Sinn Fein 's Ard C...,"['/government', '/organization', '/government/...",28,37,"[['Q4788007', 41, 55, 0.5131183], ['Q1869064',..."
1294826,"Rolf McPherson , 96 , American evangelist , so...","['/person/artist', '/location/cemetery', '/lan...",22,30,"[['Q7360766', 0, 14, 0.6029375], ['Q2563141', ..."
306765,But another Grand Final loss followed in 1944 ...,"['/person/athlete', '/person']",53,60,"[['Q2819161', 12, 23, 0.2926515], ['Q1677019',..."

In [5]:
import ast

def clean(dataset, name='train'):
    # convert labels to list of strings
    if dataset.labels
    dataset.labels = dataset.labels.apply(lambda x:  ast.literal_eval(x))
    dataset = dataset.explode('labels')
    dataset[['sent', 'labels', 'start', 'end']].to_csv(f'./data/{name}_clean.csv')

In [33]:
clean(train_sample, 'train_1000')

In [31]:
dev_sample = pd.read_csv('./data/dev_all.csv', index_col=0).sample(1000)
clean(dev_sample, 'dev_1000')

### Creating BIO files that can be processed by spaCy

example: https://github.com/explosion/spaCy/blob/master/extra/example_data/ner_example_data/ner-sent-per-line.iob

In [34]:
train_clean = pd.read_csv('./data/train_1000_clean.csv', index_col=0)
dev_clean = pd.read_csv('./data/dev_1000_clean.csv', index_col=0)
train_clean

,sent,labels,start,end
1630249,He is best known for his contributions to the ...,/location,156,167
339534,"Other languages taught at GEOS include , Frenc...",/language,41,47
496123,The final was played at Centre Court in Wimble...,/location,24,36
496123,The final was played at Centre Court in Wimble...,/building/sports_facility,24,36
496123,The final was played at Centre Court in Wimble...,/building,24,36
...,...,...,...,...
1294826,"Rolf McPherson , 96 , American evangelist , so...",/location,22,30
1294826,"Rolf McPherson , 96 , American evangelist , so...",/government_agency,22,30
1294826,"Rolf McPherson , 96 , American evangelist , so...",/person,22,30
306765,But another Grand Final loss followed in 1944 ...,/person/athlete,53,60
306765,But another Grand Final loss followed in 1944 ...,/person,53,60

In [35]:
dev_clean

,sent,labels,start,end
6624,She was nominated for the Academy Award as Bes...,/art,190,207
6624,She was nominated for the Academy Award as Bes...,/art/film,190,207
5964,He has an uncredited appearance in the 1984 fi...,/written_work,49,69
6734,"The region lies in east-central Rajasthan , an...",/location/county,193,202
6734,"The region lies in east-central Rajasthan , an...",/location,193,202
...,...,...,...,...
283,"He died in Portland , Oregon on June 3 , 1995 ...",/location,11,28
270,'' Headfirst for Halos '' is the sixth track f...,/music,87,138
4627,He received his music education at the Samad V...,/person/politician,39,52
4627,He received his music education at the Samad V...,/person/author,39,52
4627,He received his music education at the Samad V...,/person,39,52

In [36]:
display(
    train_clean.sent.str.contains('[', regex=False).sum(),
    train_clean.sent.str.contains(']', regex=False).sum()
)

0

0

In [37]:
# mark start and end of tag with [, ] characters (which are not used in text)
def mark_start_end(x):
    prefix = x['sent'][:x['start']]
    middle = x['sent'][x['start']:x['end']]
    postfix = x['sent'][x['end']:]
    
    return prefix + '[' + middle + ']' + postfix

In [38]:
# using [, ] marks, assign B/I/O tags to each token
def mark_BIO(x, tag):
    tokens = x.split(' ')
    # remove empty tokens
    tokens = [tok for tok in tokens if tok]
    marked_tokens = []
    started = False
    
    for tok in tokens:
        if tok.startswith('['):
            if tok.endswith(']'):
                marked_tokens.append(f'{tok[1:-1]}|B-{tag}')
            else:
                started = True
                marked_tokens.append(f'{tok[1:]}|B-{tag}')
        elif started:
            if tok.endswith(']'):
                started = False
                marked_tokens.append(f'{tok[:-1]}|I-{tag}')
            else:
                marked_tokens.append(f'{tok}|I-{tag}')
        else:
            marked_tokens.append(f'{tok}|O')
    
    return ' '.join(marked_tokens)

In [39]:
def bio_lambda(x):
    sent_marked = mark_start_end(x)
    sent_bio = mark_BIO(sent_marked, x['labels'])
    return sent_bio

In [40]:
train_clean['sent_BIO'] = train_clean.apply(bio_lambda, axis=1)

In [41]:
dev_clean['sent_BIO'] = dev_clean.apply(bio_lambda, axis=1)

In [43]:
np.savetxt('./data/train_1000_clean.iob', train_clean.sent_BIO, fmt='%s')

In [42]:
np.savetxt('./data/dev_1000_clean.iob', dev_clean.sent_BIO, fmt='%s')

### NER with spaCy

In [46]:
!python -m spacy convert ./data/train_1000_clean.iob ./data -c iob

[i] Auto-detected sentence-per-line NER format
[i] Grouping every 1 sentences into a document.
[!] To generate better training data, you may want to group sentences
into documents with `-n 10`.
[+] Generated output file (2361 documents):
data\train_1000_clean.spacy

In [48]:
!python -m spacy convert ./data/dev_1000_clean.iob ./data -c iob

[i] Auto-detected sentence-per-line NER format
[i] Grouping every 1 sentences into a document.
[!] To generate better training data, you may want to group sentences
into documents with `-n 10`.
[+] Generated output file (2355 documents):
data\dev_1000_clean.spacy

In [50]:
!python -m spacy debug config ./cfg/config.cfg

============================= Config validation =============================

===================== Config validation for [initialize] =====================

====================== Config validation for [training] ======================
[+] Config is valid

In [51]:
!python -m spacy debug data ./cfg/config.cfg

============================ Data file validation ============================
[+] Corpus is loadable
[+] Pipeline can be initialized with data

=============================== Training stats ===============================
Language: en
Training pipeline: tok2vec, ner
2360 training docs
2354 evaluation docs
[!] 1 training examples also in evaluation data

============================== Vocab & Vectors ==============================
[i] 68497 total word(s) in the data (8627 unique)
[i] No word vectors present in the package

========================== Named Entity Recognition ==========================
[i] 0 new label(s), 96 existing label(s)
0 missing value(s) (tokens with '-' label)
[!] 30 entity span(s) with punctuation
[+] Good amount of examples for all labels
[+] Examples without occurrences available for all labels
[+] No entities consisting of or starting/ending with whitespace
Entity spans consisting of or starting/ending with punctuation can not be
trained with a noise level > 0.

================================== Summary ==================================
[+] 5 checks passed
[!] 2 warnings

In [ ]:
!python train.py

In [52]:
# sample output
!cat output.txt

$ python train.py
â„¹ Using CPU

=========================== Initializing pipeline ===========================
Set up nlp object from config
Loading corpus from path: data\dev_1000_clean.spacy
Loading corpus from path: data\train_1000_clean.spacy
Pipeline: ['tok2vec', 'ner']
Loading lookups from spacy-lookups-data: ['lexeme_norm']
Added vocab lookups: lexeme_norm
Created vocabulary
Finished initializing nlp object
Initialized pipeline components: ['tok2vec', 'ner']
âœ” Initialized pipeline

============================= Training pipeline =============================
Loading corpus from path: data\dev_1000_clean.spacy
Loading corpus from path: data\train_1000_clean.spacy
Removed existing output directory: training\model-last
â„¹ Pipeline: ['tok2vec', 'ner']
â„¹ Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     44.79    0.00    0.00    0.00    0.00
  0      50         23.32   1111.54    0.00    0.00    0.00    0.00
  0     100         24.35    303.90    0.00    0.00    0.00    0.00
  0     150         22.47    293.69    0.00    0.00    0.00    0.00
  0     200         23.97    309.80    0.00    0.00    0.00    0.00
  0     250         27.84    337.56    0.00    0.00    0.00    0.00
  0     300         50.26    359.26    1.04    8.78    0.55    0.01
  0     350         35.79    362.75    0.08    7.69    0.04    0.00
  0     400         38.78    379.30    0.23    1.38    0.13    0.00
  0     450         34.52    376.11    0.25    4.92    0.13    0.00
  0     500         38.95    395.39    0.17    3.92    0.08    0.00
  0     550        100.43    450.98    1.35    5.83    0.76    0.01
  1     600        463.87    553.14    0.88    7.48    0.47    0.01
  1     650         65.84    424.23    1.56    4.67    0.93    0.02
  1     700       1051.90    525.18    1.81    4.27    1.15    0.02
  1     750        135.48    541.10    2.05    4.17    1.36    0.02
  1     800        115.27    503.79    1.85    5.62    1.10    0.02
  1     850        170.30    574.63    1.86    4.98    1.15    0.02
  1     900        280.26    520.45    2.33    4.86    1.53    0.02
  2     950        714.76    622.50    3.59    5.47    2.68    0.04
  2    1000        720.22    627.64    1.84    3.62    1.23    0.02
  2    1050       1078.41    780.75    2.37    5.27    1.53    0.02
  2    1100        538.29    689.20    3.41    5.56    2.46    0.03
  2    1150        235.21    677.78    2.00    4.62    1.27    0.02
  3    1200        415.19    734.24    3.28    5.75    2.29    0.03
  3    1250        497.53    779.87    3.99    5.46    3.14    0.04
  3    1300        958.59    862.42    2.82    5.41    1.91    0.03
  3    1350        528.37    833.64    2.87    4.41    2.12    0.03
  4    1400        668.74    917.28    2.58    4.66    1.78    0.03
  4    1450        468.82    949.55    3.59    5.62    2.63    0.04
  4    1500        770.23    998.26    3.30    5.16    2.42    0.03
  5    1550        641.93   1004.57    3.53    5.03    2.72    0.04
  5    1600        447.39   1039.14    3.25    5.33    2.34    0.03
  5    1650        804.95   1125.67    4.33    6.59    3.23    0.04
  6    1700        314.94   1066.86    3.32    4.78    2.55    0.03
  6    1750        616.82   1258.52    4.52    5.82    3.70    0.05
  6    1800        571.43   1289.09    4.11    5.41    3.31    0.04
  7    1850        527.46   1249.44    3.80    4.81    3.14    0.04
  7    1900        959.57   1510.10    3.81    5.57    2.89    0.04
  8    1950        822.25   1370.31    3.43    5.06    2.59    0.03
  8    2000        797.75   1594.55    3.21    5.12    2.34    0.03
  9    2050        779.27   1507.47    3.52    4.51    2.89    0.04
  9    2100        518.58   1610.08    4.13    5.71    3.23    0.04
 10    2150       1061.90   1826.59    3.43    4.91    2.63    0.03
 11    2200        690.04   1759.93    4.39    6.06    3.44    0.04
 11    2250        619.78   1824.63    3.88    5.29    3.06    0.04
 12    2300       1305.45   2143.15    3.85    5.59    2.93    0.04